## **Homework 2: Basic Markdown, Python Variables, Math Operations, User Input, and PEMDAS**

This homework is designed to enhance your understanding of several fundamental concepts in Python and Jupyter Notebooks, including Markdown formatting, variable assignment, basic mathematics operations, handling user input, and the order of operations (PEMDAS).

**Instructions:**
- Answer each question in the notebook, using a Markdown cell for explanations and a code cell for Python code.
- Ensure to execute your Python code to display the answers where applicable.

1. Show what Markdown is used for in Jupyter Notebooks.

Markdown is used to format documentation and organize your code.

# Title
## Heading
### Subheading
#### 4th level subheading

This is **bold**.
This is _itallicized_.

2. Show how to format text to be bold in Markdown? Provide an example.

You make something bold by placing two * around the content.
This is **bold**.

3. Create a Python variable named `a` and assign it the value 5.

In [ ]:
a = 5
print(a)

5

4. Perform an addition operation with any two numbers and display the result.

In [ ]:
sum = 2 + 5
print(sum)

7

5. Divide 15 by 3 and show the result.

In [ ]:
div = 15 / 3
print(div)

5.0

6. Use the `input()` function to ask the user for their name and then greet them.

In [ ]:
name = input("What is your name? ")
print("It's nice to meet you " + name + "!")

What is your name? Dominic
It's nice to meet you Dominic!

7. Calculate the square of 7 and display the result.

In [ ]:
square = 7**2
print(square)

49

8. Ask the user for a number, multiply it by 2, and display the result.

In [ ]:
user_num = int(input("Enter a number: "))
multi = user_num * 2
print(multi)

Enter a number: 2
4

9. Write a program that converts time from hours to seconds. Ask the user to input the time in hours, and then convert that time into seconds. Remember, 1 hour equals 3600 seconds.

In [ ]:
hours = int(input("Enter a time in hours: "))
seconds = hours * 3600
print(seconds)

Enter a time in hours: 1
3600

10. Evaluate the expression `3 * (4 + 5) - 6 / 2` and display the result.

In [ ]:
equation = (3 * (4 + 5) - 6) / 2
print(equation)

10.5

11. Assign the string 'Python' to a variable and print it.

In [ ]:
code = "Python"
print(code)

Python

12. Calculate the remainder when 22 is divided by 5.

In [ ]:
rem = 22 % 5
print(rem)

2


13. Ask the user for two numbers, add them together, and display the sum.

In [ ]:
firstnum = int(input("Enter a number: "))
secondnum = int(input("Enter a second number: "))
sum = firstnum + secondnum
print(sum)

Enter a number: 3
Enter a second number: 4
7

14. Write a Python code snippet that takes user input and prints the type of the input variable.

In [ ]:
user_input = float(input("Enter a float: "))
type(user_input)

Enter a float: 25.4

float

15. Calculate the product of 8 and 12, then subtract 4 and display the result.

In [ ]:
calc = (8 * 12) - 4
print(calc)

92

16. Explain the difference between `==` and `=` in Python.

In [ ]:
### Examples
2 == 2

True

In [ ]:
one = 1
print(one)

1

== is a comparison between two variables that returns true or false.
= assigns a variable to whatever follows the = sign.

17. Use Python to find the floor division of 100 by 11.

In [ ]:
fdiv = 100 // 11
print(fdiv)

9

18. Ask the user for a number, then calculate the square of that number.

In [ ]:
user_in = int(input("Type a number: "))
square = user_in ** 2
print("The square root of your number is ", square)

Type a number: 5
The square root of your number is  25

19. What does the `%` operator do in Python? Provide an example.

In [ ]:
rem = 20 % 3
print(rem)

2

The % operator takes the remainder of a division problem.
Within the example, 3 can fit into 20 only 6 times. 6 times 3 is 18.
Subtract 18 from 20 and you get the remainder of 2.

20. Using variables, demonstrate how to calculate and print the area of a rectangle (length * width).

In [ ]:
length = int(input("Enter the length of the rectangle: "))
width = int(input("Enter the width of the rectangle: "))
area = length * width
print("The area of the rectangle is: ", area)

Enter the length of the rectangle: 2
Enter the width of the rectangle: 4
The area of the rectangle is:  8